body {
  font-family: sans-serif;
  background-color: #121212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: #1e1e1e;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
}
#score {
  font-size: 32px;
  margin-top: 20px;
  color: #00ffe4;
}
